@import 'tailwindcss';

@theme {
  --font-syne: 'Syne', sans-serif;
}

html {
  direction: rtl;
}
body {
  background-image: url(../public/milad-fakurian-3hIaqX3VuXE-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  background-image: url(/Frame\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutPage {
  background: url(./Componenets/section-about-HomePage/assets/imageGalleryAboutHomePage.png);
  background-size: cover;
padding: 10px;
  background-position: center;
}
